@using HouseHoldManagement.Business.Expense;
@using HouseHoldManagement.Business.Shared;
@using PagedList.Mvc;
@*@model IEnumerable<SpentAmountViewModel>*@
@model HouseHoldManagement.Business.Expense.SpentAmountViewModel

@{
    ViewBag.Title = "Spent";
}

<h2>Spent</h2>

<div class="container">
    <div class="row row-content">
        <div class="col-sm-2">
            <div class="row row-content">

                @{Html.RenderPartial("_FilterResult", Model.Filter, new ViewDataDictionary { { "PostAction", "SpentAmount" }, { "PostController", "Spent" } });}

            </div>
        </div>
        <div class="col-sm-offset-1 col-sm-9">
            <div class="row row-content">
                <div class="col-sm-12">
                    @*@Html.ActionLink("Create", "", "",new { data_toggle = "modal", data_target = "#createAmt" })*@
                    <a data-toggle="modal" data-target="#createAmt" href="#">Create</a>
                    <div id="createAmt" class="modal fade">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Add Spent Amount</h4>
                                </div>
                                <div class="modal-body">
                                    @using (Html.BeginForm("CreateSpentAmount", "Spent", FormMethod.Post, new { @class = "form-vertical novalidate" }))
                                    {
                                        <form class="form-vertical">
                                            <div class="container">
                                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                                <div class="row">
                                                    <div class="col-sm-3">
                                                        <div class="form-group">
                                                            @Html.LabelFor(model => Model.CreateSpentAmount.SpentAmountDate, new { @class = "control-label" })
                                                            @Html.EditorFor(model => Model.CreateSpentAmount.SpentAmountDate, new { @htmlAttributes = new { @id = "edfSpentAmountDate", @class = "form-control" } })
                                                            @Html.ValidationMessageFor(model => Model.CreateSpentAmount.SpentAmountDate, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <div class="form-group">
                                                            @Html.LabelFor(model => Model.CreateSpentAmount.SpentAmountItem, new { @class = "control-label" })
                                                            @Html.EditorFor(model => Model.CreateSpentAmount.SpentAmountItem, new { @htmlAttributes = new { @id = "edfSpentAmountItem", @class = "form-control" } })
                                                            @Html.ValidationMessageFor(model => Model.CreateSpentAmount.SpentAmountItem, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <div class="form-group">
                                                            @Html.LabelFor(model => Model.CreateSpentAmount.AmountSpent, new { @class = "control-label" })
                                                            @Html.EditorFor(model => Model.CreateSpentAmount.AmountSpent, new { @htmlAttributes = new { @id = "edfAmountSpent", @class = "form-control" } })
                                                            @Html.ValidationMessageFor(model => Model.CreateSpentAmount.AmountSpent, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-3">
                                                        <div class="form-group">
                                                            @Html.LabelFor(model => Model.CreateSpentAmount.PaymentMode, new { @class = "control-label" })
                                                            @Html.DropDownListFor(model => Model.CreateSpentAmount.PaymentMode.PaymentModeId, new SelectList(ViewBag.PaymentModes, "PaymentModeId", "PaymentModeName"), "--Select--", new { @id = "edfPaymentMode", @class = "form-control" })
                                                            @Html.ValidationMessageFor(model => Model.CreateSpentAmount.PaymentMode, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                    @*<div class="col-sm-3">
                                                            <div class="form-group">
                                                                @Html.LabelFor(model => Model.CreateSpentAmount.ExpenseType, new { @class = "control-label" })
                                                                @Html.DropDownListFor(model => Model.CreateSpentAmount.ExpenseType.ExpenseTypeId, new SelectList(ViewBag.ExpenseTypes, "ExpenseTypeId", "ExpenseTypeName"), "--Select", new { @id = "edfExpenseType", @class = "form-control" })
                                                                @Html.ValidationMessageFor(model => Model.CreateSpentAmount.ExpenseType, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>*@
                                                    <div class="col-sm-3">
                                                        <div class="form-group">
                                                            @Html.LabelFor(model => Model.CreateSpentAmount.ExpenseSubCategory, new { @class = "control-label" })
                                                            @Html.DropDownListFor(model => Model.CreateSpentAmount.ExpenseSubCategory.ExpenseCategoryId, new SelectList(ViewBag.ExpenseSubCategories, "ExpenseSubCategoryId", "ExpenseSubCategoryName"), "--Select--", new { @id = "edfExpenseType", @class = "form-control" })
                                                            @Html.ValidationMessageFor(model => Model.CreateSpentAmount.ExpenseSubCategory, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <div class="form-group">
                                                            @Html.LabelFor(model => Model.CreateSpentAmount.ExpenseRepeatFrequency, new { @class = "control-label" })
                                                            @Html.DropDownListFor(model => Model.CreateSpentAmount.ExpenseRepeatFrequency.RepeatId, new SelectList(ViewBag.ExpenseRepeatFrequencies, "RepeatId", "Frequency"), "--Select", new { @id = "edfExpenseRepeat", @class = "form-control" })
                                                            @Html.ValidationMessageFor(model => Model.CreateSpentAmount.ExpenseRepeatFrequency, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-3">
                                                        <div class="form-group">
                                                            @Html.LabelFor(model => Model.CreateSpentAmount.SpentAmountDetails, new { @class = "control-label" })
                                                            @Html.EditorFor(model => Model.CreateSpentAmount.SpentAmountDetails, new { @htmlAttributes = new { @id = "edfSpentAmountDetails", @class = "form-control" } })
                                                            @Html.ValidationMessageFor(model => Model.CreateSpentAmount.SpentAmountDetails, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-3">
                                                        <div class="form-group">
                                                            @*@Html.LabelFor(model => Model.CreateSpentAmount.IsRecurringExpense, new { @class = "control-label" })
                                                                @Html.EditorFor(model => Model.CreateSpentAmount.IsRecurringExpense, new { @htmlAttributes = new { @id = "edfIsRecurringExpense", @class = "form-control" } })*@
                                                            @Html.LabelFor(model => Model.CreateSpentAmount.IsRecurringExpense, new { @class = "control-label" })
                                                            @Html.CheckBoxFor(model => Model.CreateSpentAmount.IsRecurringExpense, new { @htmlAttributes = new { @id = "chxIsRecurringExpense", @class = "form-control" } })
                                                            @Html.ValidationMessageFor(model => Model.CreateSpentAmount.IsRecurringExpense, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-12">
                                                        <button type="submit" class="btn btn-primary">Create</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="padding:20px;" class="col-sm-12">
                    @{Html.RenderPartial("_QuickLinks", new ViewDataDictionary { { "actionName", "SpentAmount" }, { "controllerName", "Spent" } });}
                </div>
                <div class="col-sm-12">
                    @using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-horizontal" }))
                    {
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>@Html.ActionLink("Date", "SpentAmount", new { sortOrder = ViewBag.DateSortOrder, page = ViewBag.CurrentPageNumber })</th>
                                        <th>@Html.DisplayNameFor(model => Model.GetSpentAmount[0].SpentAmountItem)</th>
                                        <th>@Html.ActionLink("Amount", "SpentAmount", new { sortOrder = ViewBag.AmountSortOrder, page = ViewBag.CurrentPageNumber })</th>
                                        @*<th>@Html.DisplayNameFor(model => Model.GetSpentAmount[0].ExpenseType)</th>*@
                                        <th>@Html.DisplayNameFor(model => Model.GetSpentAmount[0].ExpenseSubCategory)</th>
                                        <th>@Html.DisplayNameFor(model => Model.GetSpentAmount[0].PaymentMode)</th>
                                        <th>@Html.DisplayNameFor(model => Model.GetSpentAmount[0].ExpenseRepeatFrequency)</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @for (var i = 0; i < Model.GetSpentAmount.Count; i++)
                                    {
                                        @Html.HiddenFor(item => Model.GetSpentAmount[i].SpentAmountID, new { @id = "hdfSpentAmountId_" + i })
                                        @Html.HiddenFor(item => Model.GetSpentAmount[i].SpentAmountDetails)
                                        <tr id="tablerow_@i">
                                            <td>
                                                <div id="dspSpentDate_@i">@Html.DisplayFor(item => Model.GetSpentAmount[i].SpentAmountDate)</div>
                                                @Html.EditorFor(item => Model.GetSpentAmount[i].SpentAmountDate, new { @htmlAttributes = new { @id = "edfSpentDate_" + i, @class = "form-control hidden" } })
                                            </td>
                                            <td>
                                                <div id="dspSpentItem_@i">@Html.DisplayFor(item => Model.GetSpentAmount[i].SpentAmountItem)</div>
                                                @Html.EditorFor(item => Model.GetSpentAmount[i].SpentAmountItem, new { @htmlAttributes = new { @id = "edfSpentItem_" + i, @class = "form-control hidden" } })
                                            </td>
                                            <td>

                                                <div id="dspSpentAmount_@i">@Html.DisplayFor(item => Model.GetSpentAmount[i].AmountSpent)</div>
                                                @Html.EditorFor(item => Model.GetSpentAmount[i].AmountSpent, new { @htmlAttributes = new { @id = "edfSpentAmount_" + i, @class = "form-control hidden" } })

                                            </td>
                                            @*<td>

                                                    <div id="dspExpenseType_@i">@Html.DisplayFor(item => Model.GetSpentAmount[i].ExpenseType.ExpenseTypeName)</div>
                                                    @Html.DropDownListFor(item => Model.GetSpentAmount[i].ExpenseType.ExpenseTypeId, new SelectList(ViewBag.ExpenseTypes, "ExpenseTypeId", "ExpenseTypeName", ((IEnumerable<ExpenseTypeViewModel>)ViewBag.ExpenseTypes).Where(item => item.ExpenseTypeId == Model.GetSpentAmount[i].ExpenseType.ExpenseTypeId).Select(item => item.ExpenseTypeId).FirstOrDefault()), "--Select--", new { @id = "edfExpenseType_" + i, @class = "form-control hidden" })

                                                </td>*@
                                            <td>

                                                <div id="dspExpenseType_@i">@Html.DisplayFor(item => Model.GetSpentAmount[i].ExpenseSubCategory.ExpenseSubCategoryName)</div>
                                                @Html.DropDownListFor(item => Model.GetSpentAmount[i].ExpenseSubCategory.ExpenseSubCategoryId, new SelectList(ViewBag.ExpenseSubCategories, "ExpenseSubCategoryId", "ExpenseSubCategoryName", ((IEnumerable<ExpenseSubCategoryViewModel>)ViewBag.ExpenseSubCategories).Where(item => item.ExpenseSubCategoryId == Model.GetSpentAmount[i].ExpenseSubCategory.ExpenseSubCategoryId).Select(item => item.ExpenseSubCategoryId).FirstOrDefault()), "--Select--", new { @id = "edfExpenseType_" + i, @class = "form-control hidden" })

                                            </td>
                                            <td>

                                                <div id="dspPaymentMode_@i">@Html.DisplayFor(item => Model.GetSpentAmount[i].PaymentMode.PaymentModeName)</div>
                                                @*@Html.EditorFor(item => Model[i].PaymentMode.PaymentModeName, new { @htmlAttributes = new { @id = "edfPaymentMode_" + i, @class = "form-control hidden" } })*@
                                                @Html.DropDownListFor(item => Model.GetSpentAmount[i].PaymentMode.PaymentModeId, new SelectList(ViewBag.PaymentModes, "PaymentModeId", "PaymentModeName", ((IEnumerable<PaymentModeViewModel>)ViewBag.PaymentModes).Where(item => item.PaymentModeId == Model.GetSpentAmount[i].PaymentMode.PaymentModeId).Select(item => item.PaymentModeId).FirstOrDefault()), "--Select--", new { @class = "form-control hidden", @id = "edfPaymentMode_" + i })
                                            </td>
                                            <td>

                                                <div id="dspExpenseRepeat_@i">@Html.DisplayFor(item => Model.GetSpentAmount[i].ExpenseRepeatFrequency.Frequency)</div>
                                                @Html.DropDownListFor(item => Model.GetSpentAmount[i].ExpenseRepeatFrequency.RepeatId, new SelectList(ViewBag.ExpenseRepeatFrequencies, "RepeatId", "Frequency", ((IEnumerable<ExpenseRepeatFrequencyViewModel>)ViewBag.ExpenseRepeatFrequencies).Where(item => item.RepeatId == Model.GetSpentAmount[i].ExpenseRepeatFrequency.RepeatId).Select(item => item.RepeatId).FirstOrDefault()), "--Select--", new { @id = "edfExpenseRepeat_" + i, @class = "form-control hidden" })

                                            </td>
                                            <td>

                                                <a href="#" id="lnkDetails_@i">Details</a> |
                                                <a href="#" id="lnkEdit_@i" onclick="EditLinkClick(@i)">Edit</a>
                                                <a href="#" id="lnkUpdate_@i" class="hidden" onclick="UpdateLinkClick(@i)">Update</a>
                                                <a href="#" id="lnkCancel_@i" class="hidden" onclick="CancelLinkClick(@i)">Cancel</a>|
                                                @Html.ActionLink("Delete", "DeleteSpentAmount", new { spentAmountId = Model.GetSpentAmount[i].SpentAmountID }, new { @id = "lnkDelete_" + i })

                                            </td>
                                        </tr>


                                    }
                                </tbody>
                            </table>
                        </div>
                    }

                </div>
                <div class="col-sm-12 text-right">
                    Page @(Model.GetSpentAmount.PageCount < Model.GetSpentAmount.PageNumber ? 0 : Model.GetSpentAmount.PageNumber) of @Model.GetSpentAmount.PageCount
                </div>
                <div class="col-xs-12 col-sm-offset-4 col-sm-4">
                    @Html.PagedListPager(Model.GetSpentAmount, page => Url.Action("SpentAmount", new { sortOrder = ViewBag.CurrentSortOrder, page }))
                </div>

            </div>

        </div>
    </div>

</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    $(document).ready(function () {
    });

    function EditLinkClick(index) {
        $('#lnkEdit_' + index).addClass('hidden');
        //$('#lnkDetails_'+index).addClass('hidden');
        //$('#lnkDelete_'+index).addClass('hidden');
        $('#lnkUpdate_' + index).removeClass('hidden');
        $('#lnkCancel_' + index).removeClass('hidden');


        $('#dspSpentDate_' + index).addClass('hidden');
        $('#dspSpentItem_' + index).addClass('hidden');
        $('#dspSpentAmount_' + index).addClass('hidden');
        $('#dspExpenseType_' + index).addClass('hidden');
        $('#dspPaymentMode_' + index).addClass('hidden');
        $('#dspExpenseRepeat_' + index).addClass('hidden');



        $('#edfSpentDate_' + index).removeClass('hidden');
        $('#edfSpentItem_' + index).removeClass('hidden');
        $('#edfSpentAmount_' + index).removeClass('hidden');
        $('#edfExpenseType_' + index).removeClass('hidden');
        $('#edfPaymentMode_' + index).removeClass('hidden');
        $('#edfExpenseRepeat_' + index).removeClass('hidden');

    }
    function CancelLinkClick(index) {
        $('#lnkEdit_' + index).removeClass('hidden');
        //$('#lnkDetails_'+index).removeClass('hidden');
        //$('#lnkDelete_'+index).removeClass('hidden');
        $('#lnkUpdate_' + index).addClass('hidden');
        $('#lnkCancel_' + index).addClass('hidden');

        $('#dspSpentDate_' + index).removeClass('hidden');
        $('#dspSpentItem_' + index).removeClass('hidden');
        $('#dspSpentAmount_' + index).removeClass('hidden');
        $('#dspExpenseType_' + index).removeClass('hidden');
        $('#dspPaymentMode_' + index).removeClass('hidden');
        $('#dspExpenseRepeat_' + index).removeClass('hidden');

        $('#edfSpentDate_' + index).addClass('hidden');
        $('#edfSpentItem_' + index).addClass('hidden');
        $('#edfSpentAmount_' + index).addClass('hidden');
        $('#edfExpenseType_' + index).addClass('hidden');
        $('#edfPaymentMode_' + index).addClass('hidden');
        $('#edfExpenseRepeat_' + index).addClass('hidden');
    }
    function UpdateLinkClick(index, id) {


        var modelData = {
            "SpentAmountID": $('#hdfSpentAmountId_' + index).val(),
            "SpentAmountDate": $('#edfSpentDate_' + index).val(),
            "SpentAmountItem": $('#edfSpentItem_' + index).val(),
            "AmountSpent": $('#edfSpentAmount_' + index).val(),
            "ExpenseType":
                {
                    "ExpenseTypeId": $('#edfExpenseType_' + index).val(),
                    "ExpenseTypeName": $('#edfExpenseType_' + index + ' option:selected').text()
                },
            "ExpenseSubCategory": {

                "ExpenseSubcategoryId": $('#edfExpenseType_' + index).val(),
                "ExpenseSubCategoryName": $('#edfExpenseType_' + index + ' option:selected').text()
            },
            "ExpenseRepeatFrequency":{

                "RepeatId": $('#edfExpenseRepeat_' + index).val(),
                "Frequency": $('#edfExpenseRepeat_' + index + ' option:selected').text()

            },
            "PaymentMode":
                {
                    "PaymentModeId": $('#edfPaymentMode_' + index).val(),
                    "PaymentModeName": $('#edfPaymentMode_' + index + ' option:selected').text()
                }
        }

        $.ajax({

            type: 'POST',
            url: '/Spent/UpdateSpentAmount',
            data: { spentAmountToUpdate: modelData },
            datatype: 'json',
            success: function (data) {

                var jsonDate = data.SpentAmountDate;
                var isoStandardDate = parseInt(jsonDate.substr(6));
                var jsDate = new Date(isoStandardDate);
                var formattedDate = jsDate.getMonth() + 1 + '/' + jsDate.getDate() + '/' + jsDate.getFullYear();

                $('#dspSpentDate_' + index).html(formattedDate);
                $('#dspSpentItem_' + index).html(data.SpentAmountItem);
                $('#dspSpentAmount_' + index).html(data.AmountSpent);
                //$('#dspExpenseType_' + index).html(data.ExpenseType.ExpenseTypeName);
                $('#dspExpenseType_' + index).html(data.ExpenseSubCategory.ExpenseSubCategoryName);
                $('#dspPaymentMode_' + index).html(data.PaymentMode.PaymentModeName);
                $('#dspExpenseRepeat_' + index).html(data.ExpenseRepeatFrequency.Frequency);
                CancelLinkClick(index);

            },
            error: function (data) {
                alert('Error in AJAX call');
            }


        })

    }

</script>
